extends ./index.jade
block content
  .mdl-grid.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--12-col-tablet.mdl-cell--4-col-phone.mdl-cell--top(ng-controller="detalleProyectoCtrl", ng-init="init('#{scrumMaster.nombreCompleto}', '#{proyecto._id}', '#{proyecto.abierto}', '#{rolActual}')")
    .mdl-cell.mdl-cell--3-col-desktop.mdl-cell--3-col-tablet.mdl-cell--2-col-phone
      .mdl-card.mdl-shadow--2dp
        .mdl-card__title
          h2.mdl-card__title-text #{proyecto.nombreProyecto}
        .mdl-card__supporting-text
          p.letras-negras.
            #{proyecto.descripcionProy}
      br
      .mdl-card.mdl-shadow--2dp
        .mdl-card__title
          h2.mdl-card__title-text Scrum Master
        .mdl-card__supporting-text
          if(scrumMaster)
            a(href='#', target='_blank') {{scrumMaster}}
          else
            a.mdl-button(type="submit" ng-show="isOpen==='true' && (rolActual==='scrum-master' || rolActual==='product-owner')") Agregar
      br
      .mdl-card.mdl-shadow--2dp
        .mdl-card__title
          h2.mdl-card__title-text Product Owner
        .mdl-card__supporting-text
          a(href='#', target='_blank' ng-if="productOwner!==''") {{getNombreCompleto(productOwner)}}
          button(class="mdl-button show-owner-button" id="button-show-owner" type="button" ng-click="getUsuarios()" ng-show="isOpen==='true' && (rolActual==='scrum-master' || rolActual==='product-owner') && productOwner===''") Agregar
          dialog(class="mdl-dialog-big show-owner-dialog")
            h2.mdl-dialog__title Usuarios
              .mdl-dialog__content
                table.mdl-data-table.mdl-js-data-table.mdl-data-table.projects-table
                  thead
                    tr
                      th.mdl-data-table__cell--non-numeric Usuario
                      th.mdl-data-table__cell--non-numeric
                  tbody
                    tr(ng-repeat="usuario in usuarios")
                      td.mdl-data-table__cell--non-numeric {{getNombreCompleto(usuario)}}
                      td.mdl-data-table__cell--non-numeric
                        button.mdl-button(type="button" ng-click="asignarOwner(usuario._id)") Asignar
      br
      br
      .mdl-card.mdl-shadow--2dp
        .mdl-card__title
          h2.mdl-card__title-text Días para Finalizar: {{totalDias}}
        .mdl-card__actions.mdl-card--border(ng-if="totalDias <= 0" ng-show="isOpen==='true' && (rolActual==='scrum-master' || rolActual==='product-owner')")
          form(action="/finalizarProyecto" method="POST" class="form")
            input(value="#{proyecto._id}" type="hidden" id="proyectoElegido" name="proyectoElegido")
            button(class="mdl-button" type="submit") Cerrar Proyecto

    .mdl-cell.mdl-cell--6-col-desktop.mdl-cell--6-col-tablet.mdl-cell--4-col-phone
      .mdl-card-2.mdl-shadow--2dp-2
        button(class="mdl-button blank-historia-button" type="button" ng-show="isOpen==='true' && (rolActual==='scrum-master' || rolActual==='product-owner')") Agregar historia de usuario
        dialog(class="mdl-dialog-big blank-historia-dialog")
          h2.mdl-dialog__title Nuevo Proyecto
            form(action="#" method="POST" class="form")
              div
                +textFieldMixin('nombre', 'nombre', 'Nombre Historia', 'historia', 'nombre', true)
                +textFieldMixin('descripcion', 'descripcion', 'Descripción', 'historia', 'descripcion', true)
                +textFieldMixin('cuando', 'cuando', 'Cuando', 'historia', 'cuando', true)
                +textFieldMixin('entonces', 'entonces', 'Entonces', 'historia', 'entonces', true)
                +textFieldMixin('como', 'como', 'Como', 'historia', 'como', true)
                +textFieldMixin('quiero', 'quiero', 'Quiero', 'historia', 'quiero', true)
                +textFieldMixin('deTalManeraQue', 'deTalManeraQue', 'De Tal Manera Que', 'historia', 'deTalManeraQue', true)
                +numberFieldMixin('prioridad', 'prioridad', 'Prioridad', 'historia', 'prioridad', true)
                +numberFieldMixin('tamanio', 'tamanio', 'Tamaño', 'historia', 'tamanio', true)
              button.mdl-button(type="button" ng-click="crearHistoria()") Crear Historia
        div(ng-view)
    .mdl-cell.mdl-cell--3-col-desktop.mdl-cell--3-col-tablet.mdl-cell--2-col-phone
      .mdl-card.mdl-shadow--2dp.trending
        .mdl-card__title
          h2.mdl-card__title-text Desarrolladores
        .mdl-card__supporting-text
          ul.mdl-list
            li.mdl-list__item(ng-repeat="desarrollador in desarrolladores")
              span.mdl-list__item-primary-content.list__item-text.letras-negras {{getNombreCompleto(desarrollador)}}
            br
            li.mdl-list__item(ng-show="isOpen==='true' && (rolActual==='scrum-master' || rolActual==='product-owner')")
              button(class="mdl-button show-developer-button" id="show-developer" type="button" ng-click="getUsuarios()") Agregar Desarrolladores
              dialog(class="mdl-dialog-big show-developer-dialog")
                h2.mdl-dialog__title Usuarios
                  .mdl-dialog__content
                    table.mdl-data-table.mdl-js-data-table.mdl-data-table.projects-table
                      thead
                        tr
                          th.mdl-data-table__cell--non-numeric Usuario
                          th.mdl-data-table__cell--non-numeric
                      tbody
                        tr(ng-repeat="usuario in usuarios")
                          td.mdl-data-table__cell--non-numeric {{getNombreCompleto(usuario)}}
                          td.mdl-data-table__cell--non-numeric
                            button.mdl-button(type="button" ng-click="asignarDesarrollador(usuario._id)") Asignar
    .mdl-cell.mdl-cell--3-col-desktop.mdl-cell--12-col-tablet.mdl-cell--2-col-phone(ng-if="historiaSeleccionada!==''")
      .mdl-card.mdl-shadow--2dp
        .mdl-card__title
          h2.mdl-card__title-text Detalles De Historia
        .mdl-card__supporting-text
          .mdl-grid(ng-if="historiaSeleccionada!==''")
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                  input.mdl-textfield__input(type="text" value="{{historiaSeleccionada.nombre}}" id="nombreSprint" name="nombreSprint" style="color: black" readonly)
                  label(for="nombreSprint" class="mdl-textfield__label") Nombre
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                  input.mdl-textfield__input(type="text" value="{{historiaSeleccionada.descripcion}}" id="descripcionSprint" name="descripcionSprint" style="color: black" readonly)
                  label(for="descripcionSprint" class="mdl-textfield__label") Descripción
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                  input.mdl-textfield__input(type="text" value="{{historiaSeleccionada.cuando}}" id="cuandoSprint" name="cuandoSprint" style="color: black" readonly)
                  label(for="cuandoSprint" class="mdl-textfield__label") Cuando
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                  input.mdl-textfield__input(type="text" value="{{historiaSeleccionada.entonces}}" id="entoncesSprint" name="entoncesSprint" style="color: black" readonly)
                  label(for="entoncesSprint" class="mdl-textfield__label") Entonces
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                  input.mdl-textfield__input(type="text" value="{{historiaSeleccionada.como}}" id="comoSprint" name="comoSprint" style="color: black" readonly)
                  label(for="comoSprint" class="mdl-textfield__label") Como
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                  input.mdl-textfield__input(type="text" value="{{historiaSeleccionada.quiero}}" id="quieroSprint" name="quieroSprint" style="color: black" readonly)
                  label(for="quieroSprint" class="mdl-textfield__label") Quiero
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                  input.mdl-textfield__input(type="text" value="{{historiaSeleccionada.deTalManeraQue}}" id="deTalManeraQueSprint" name="deTalManeraQueSprint" style="color: black" readonly)
                  label(for="deTalManeraQueSprint" class="mdl-textfield__label") De Tal Manera Que
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                  input.mdl-textfield__input(type="text" value="{{historiaSeleccionada.prioridad}}" id="prioridadSprint" name="prioridadSprint" style="color: black" readonly)
                  label(for="priordadSprint" class="mdl-textfield__label") Prioridad
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                  input.mdl-textfield__input(type="text" value="{{historiaSeleccionada.tamanio}}" id="tamanioSprint" name="tamanioSprint" style="color: black" readonly)
                  label(for="tamanioSprint" class="mdl-textfield__label") Tamaño
          div(class="mdl-card__actions mdl-card--border")
            button(class="mdl-button" type="button" ng-click="cerrarDetalle()") Limpiar Datos
    .mdl-cell.mdl-cell--3-col-desktop.mdl-cell--3-col-tablet.mdl-cell--2-col-phone
      tr
        td.mdl-data-table__cell--non-numeric
          span.label.label--mini.background-color--mint
            a.a-blanco(href="#ProductBacklog") Product BackLog
        td.mdl-data-table__cell--non-numeric
          span.label.label--mini.background-color--primary
            a.a-blanco(href="#ReleaseBacklog") Release BackLog
        td.mdl-data-table__cell--non-numeric

  script.
    var dialogOwner = document.querySelector('.show-owner-dialog');
    if(dialogOwner){
      var showDialogButtonOwner = document.querySelector('.show-owner-button');
      if (! dialogOwner.showModal) {
        dialogPolyfill.registerDialog(dialogOwner);
      }
      showDialogButtonOwner.addEventListener('click', function() {
        dialogOwner.showModal();
        });
    }
    var dialogDeveloper = document.querySelector('.show-developer-dialog');
    var showDialogButtonDeveloper = document.querySelector('.show-developer-button');
    if (! dialogDeveloper.showModal) {
      dialogPolyfill.registerDialog(dialogDeveloper);
    }
    showDialogButtonDeveloper.addEventListener('click', function() {
      dialogDeveloper.showModal();
    });

    var dialogHistoria = document.querySelector('.blank-historia-dialog');
    var showDialogButtonHistoria = document.querySelector('.blank-historia-button');
    if (!dialogHistoria.showModal) {
        dialogPolyfill.registerDialog(dialogHistoria);
    }
    showDialogButtonHistoria.addEventListener('click', function () {
        dialogHistoria.showModal();
    });
